<div class='header'>
  Reset Your Password
</div>

<div class='content'>
  <p>Hello {{name}},</p>

  <p>
    We received a request to reset your password.
  </p>

  <a href='{{resetLink}}' class='button'>
    Reset Password
  </a>

  <p>
    This link will expire in
    <strong>{{expiresIn}} minutes</strong>.
  </p>

  <p>
    If you did not request a password reset, please ignore this email.
  </p>

  <p>
    Regards,<br />
    <strong>The {{appName}} Team</strong>
  </p>
</div>