<div class='header'>
  Password Reset Successful
</div>

<div class='content'>
  <p>Hello {{name}},</p>

  <p>
    Your password has been successfully reset.
  </p>

  <p>
    If you did not make this change, please contact our support team
    immediately.
  </p>

  <p>
    Stay safe,<br />
    <strong>The {{appName}} Team</strong>
  </p>
</div>